* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* common */
a {
    text-decoration: none;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.btn {
    --line-height: 60px;

    display: inline-block;
    font-family: "Sora", sans-serif;
    min-width: 205px;
    height: var(--line-height);
    text-align: center;
    border-radius: 999px;
    border: 1px solid #2e80ce;
    font-size: 1.6rem;
    line-height: var(--line-height);
    font-weight: 400;
    color: #fff;
    background: #2e80ce;
}
.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section__heading {
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
    color: #10375c;
}

.section__desc {
    margin-top: 18px;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
    color: #575f66;
}

.control {
    display: flex;
    column-gap: 18px;
}

.control__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #575f66;
    outline: none;
    color: #575f66;
    background: #fff;
    transition: 0.25s;
}

.control__btn:hover {
    color: #fff;
    border-color: #2e80ce;
    background: #2e80ce;
    cursor: pointer;
}

.learn-more:hover {
    opacity: 0.8;
}

.learn-more {
    display: inline-block;
    margin-top: 18px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #2e80ce;
}

/* Header */
header {
    min-height: 100vh;
    background: #10375c;
}

.header-top {
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
    align-items: center;
}

/* logo */
.logo {
    display: inline-flex;
    position: relative;
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}

.logo__text {
    margin-left: 0.6em;
    color: #fff;
}

.logo__brand {
    display: block;
    line-height: 1em;
    font-size: 1.8em;
    font-weight: 400;
}

.logo__brand--small {
    text-align: right;
    font-size: 1.2em;
    font-weight: 300;
}

/* nav */
.navbar__list {
    display: flex;
    line-height: 1.75;
}

.navbar__item {
    padding: 4px 21px;
}
.header-action__login,
.navbar__link {
    position: relative;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 300;
    color: #c9d2da;
}
.header-action__login:hover,
.navbar__link--active,
.navbar__link:hover {
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
    position: absolute;
    top: 10px;
    left: -12px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

/* action */
.header-action {
    display: flex;
    align-items: center;
}

.header-action__signup {
    min-width: 104px;
    --line-height: 42px;
    margin-left: 28px;
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    margin-top: 76px;
}

.hero__content {
    width: 44%;
    flex-shrink: 0;
}

.hero__media {
    flex-grow: 1;
}

.hero__heading {
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
    color: #fff;
}

.hero__desc {
    margin-top: 22px;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
    color: #c9d2da;
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__text {
    margin-left: 38px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    color: #fff;
}

.hero__image {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__img:first-child {
    position: relative;
    margin-right: -6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}

/* service */
.service {
    padding: 170px 0;
}

.service__desc,
.service__heading {
    text-align: center;
}

.service__desc {
    display: block;
    width: 468px;
    margin: 18px auto 0;
}

.service-row {
    margin-top: 70px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.service__image {
    margin-right: 130px;
}

.service__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.service__list {
    display: flex;
    flex-direction: column;
    margin: 35px 0 55px;
}

.service-item {
    display: flex;
    width: 470px;
    padding: 22px;
    border-radius: 10px;
    background: #fff;
    transition: 0.25s;
    cursor: pointer;
}

.service-item:hover {
    position: relative;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
    background: #2e80ce;
    color: #fff;
}

.service-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: #eff6fd;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
    color: #10375c;
    transition: 0.25s;
}

.service-item__body {
    margin-left: 19px;
}

.service-item__heading {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.28rem;
    color: #10375c;
}

.service-item__desc {
    margin-top: 8px;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    color: #575f66;
}

/* work */
.work {
    padding: 100px 0;
    background: #f6fbff;
}

.work__desc {
    width: 468px;
}

.work-item {
    padding: 43px;
    border: 16px solid #eaf6ff;
    border-radius: 4px;
    transition: 0.25s;
}

.work-item:hover {
    transform: translateY(-16px);
    border: 16px solid #2e80ce;
    cursor: pointer;
}

.work__list {
    margin-top: 86px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.work-item__heading {
    margin-top: 18px;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
    color: #10375c;
}

.work-item__desc {
    margin-top: 28px;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    color: #575f66;
}

/* feature */
.feature > .container {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.feature {
    margin-top: 85px;
    padding: 85px 0;
}

.feature__images {
    position: relative;
}

.feature__img {
    width: 512px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.07);
}

.feature__img:last-child {
    position: absolute;
    top: 121px;
    left: 238px;
    width: 332px;
    height: 370px;
    object-fit: cover;
    z-index: 1;
}

.feature__content {
    padding: 82px 0;
    width: 470px;
}

.feature__btn {
    display: inline-block;
    margin-top: 38px;
}

/* members */
.members {
    padding: 85px 0;
}

.members__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
}

.members__atc {
    margin-top: 38px;
}

.members__list {
    padding-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 19px;
}

.members-item:hover .members-item__img {
    transform: scale(1.1);
}

.members-item__image-bg {
    position: relative;
    width: 270px;
    height: 318px;
    object-fit: cover;
    border-radius: 6px;
    overflow: hidden;
    background: #eaf6ff;
}

.members-item__img {
    position: absolute;
    bottom: 0;
    max-width: 100%;
    height: 290px;
    object-fit: cover;
    border-radius: 6px;
    transition: 0.25s;
    color: #eaf6ff;
}

.members-item__name {
    margin-top: 12px;
    text-align: center;
    font-size: 16px;
    line-height: 1.75;
    color: #10375c;
}

.members-item__title {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.86;
    color: #575f66;
}

.members__control {
    justify-content: center;
    margin-top: 38px;
}

/* install */
.install {
    padding: 85px 0;
}

.install__inner {
    display: flex;
    border-radius: 4px;
    background: #2e80ce;
}

.install__images {
}

.install__img {
    display: block;
    margin: -85px 160px 0 70px;
    width: 284px;
    height: 522px;
    object-fit: cover;
}

.install__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: #fff;
}

.install__heading {
    width: 489px;
    color: #fff;
}

.install__desc {
    margin-top: 18px;
    width: 586px;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

.install__row {
    display: flex;
    margin-top: 38px;
    column-gap: 28px;
}

/* news */
.news {
    padding: 85px 0;
}

.news > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news__heading {
    width: 470px;
}

.news__content-desc {
    display: inline-block;
    margin-top: 28px;
    font-family: "Inter", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.55;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    color: #10375c;
}

.news__control {
    margin-top: 28px;
}

.news__list {
    display: flex;
    column-gap: 30px;
}

.news-item {
    width: 270px;
    height: 375px;
    border: 1px solid #e8ebee;
    border-radius: 12px;
    background: #fff;
    cursor: pointer;
}

.news-item__content {
    margin: 18px 24px 21px 22px;
}

.news-item__img {
    display: block;
    width: 270px;
    height: 172px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.news-item__heading {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.63;
    color: #10375c;
}

.news-item__desc {
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.71;
    color: #575f66;
}

.news-item__more {
    margin-top: 12px;

    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 400;
    color: #10375c;
}

.news-item__more:hover {
    color: #2e80ce;
    cursor: pointer;
}
